:root {
--Darkcyan: hsl(158, 36%, 37%);
--Cream: hsl(30, 38%, 92%);
/* ### Neutral */
--Verydarkblue: hsl(212, 21%, 14%);
--Darkgrayishblue: hsl(228, 12%, 65%);
--White: hsl(0, 0%, 100%);
/* others */

}

/* containers styles */

* {
    margin: 0; 
    font-family: 'Fraunces', serif;
}
body {
    background: var(--Cream);
}

.container_flex {
    
    display: flex;
    flex-wrap: wrap;
    margin-left: calc((100vw - 375px)/2);
    margin-top: calc((3vh));
}
.container_flex_img {
    min-width: 375px;
    max-width: 375px;
    border-top-right-radius: 5%;
    border-top-left-radius: 5%;
    background: var(--White);

}
.container_flex_description {
    min-width: calc(375px - 50px);
    max-width: calc(375px - 50px);
    padding: 25px;
    display: flex;
    flex-wrap: wrap;
    border-bottom-right-radius: 5%;
    border-bottom-left-radius: 5%;
    background: var(--White);
}


.container_flex_description * {
    margin-bottom: 20px; 
    width: 100%;
}
h1,
.description,
.container_flex_description_button {
    font-family: 'Montserrat', sans-serif;
}
h1 {
    font-size: 20px;
    font-weight:100;
    color: var(--Darkgrayishblue);
}
h2 {
    font-size: 35px;
    color: var(--Verydarkblue);
}
.description {
    font-size: 16px;
    color: var(--Darkgrayishblue);
    line-height: 1.6;
}
.discount {
    width: 50%;
    font-size: 31px;
    margin: auto; 
    color: var(--Darkcyan);
}
.old_price {
    width: 50%;
    margin: auto;
    color: var(--Darkgrayishblue);
}
.container_flex_description_button {
    margin-top: 20px;
    border-radius: 4%;
    border: none;
    background: var(--Darkcyan);
    color: var(--White);
    font-weight: 500;
    padding: 15px;
}
svg {
    width: 10% !important;
    margin: 0 !important;
   
}
.container_flex_description_button:active {
    background: hsl(158, 36%, 20%);
}
/* desktop img */
img:nth-child(2) {
    display: none;
}

@media only screen and (min-width:900px) {
    .container_flex {
        margin: 0;
        margin-top:calc((100vh - 565.729px)/2);
        justify-content: center;
    }
    img:first-child {
        display: none;
    }
    img:nth-child(2) {
        display:inline-block;
        border-radius: 0;
        border-top-left-radius:3% ;
        border-bottom-left-radius:3% ;
        height: 500px;
          
    }
    .container_flex_img {
        border-radius: 0;
        border-top-left-radius: 3%;
        border-bottom-left-radius: 3%;
        height: 500px;
    }
    .container_flex_description {
        border-radius: 0;
        border-top-right-radius: 3%;
        border-bottom-right-radius: 3%;
        padding: 25px;
    }
}
@media only screen and (max-height:500px) {
  .container_flex {
    margin: 0;
  }
}
