* {
  
    list-style-type: none;
    font-family: 'Hanken Grotesk', sans-serif;
    font-weight: bold;
    font-size: 18px;
}

/* estilos de los contenedores */
:root {
  /* ### Primary */

--Lightred: hsl(0, 100%, 67%);
--Orangeyyellow: hsl(39, 100%, 56%);
--Greenteal: hsl(166, 100%, 37%);
--Cobaltblue: hsl(234, 85%, 45%);
/* gradient */
--Lightslateblue: hsl(252, 100%, 67%);
--Lightroyalblue: hsl(241, 81%, 54%);
--Violetblue: hsla(256, 72%, 46%, 1);
--Persianblue: hsla(241, 72%, 46%, 0);
/* neutral */
--White: hsl(0, 0%, 100%);
--Paleblue: hsl(221, 100%, 96%);
--Lightlavender: hsl(241, 100%, 89%);
--Darkgrayblue: hsl(224, 30%, 27%);

}

.container_inlineBlock {
  display: inline-block;
  margin: 1vh calc((100% - 375px)/2) ;
  
  
}
.container_flex {
  display: flex;
  flex-wrap: wrap;
  
  
}
.container_flex div {
  width: 375px;
  
}
.container_flex_result {
  position: relative;
  z-index: 2;
}
.container_flex_result ul {
  height: 375px;
  color: hsl(0, 0%, 100%);
  background:linear-gradient(to bottom,hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  padding: 30px;
  border-bottom-left-radius: 10%; 
  border-bottom-right-radius: 10%; 
  display: flex;
  flex-direction: column;
  align-items: center;
  
  /* z-index: 2; */


}

/* estilos a los contenidos del div class:result */

.container_flex_result ul li {
  text-align: center;
  margin-bottom: 30px;
 
}
.score {
  display: flex;
  width: 120px;
  height: 120px;
  background:radial-gradient(circle,hsla(256, 72%, 46%, 1),hsla(241, 72%, 46%, 0));
  border-radius: 100%;
  flex-direction:column;
  /* align-items: center; */
  /* justify-content:center; */
}
.Result .b1 {
color:hsl(0, 0%, 80%);
}
.score .b1 {
  color:hsl(0, 0%, 100%);
  font-size: 50px;
  margin-top: 23px;
  }
  
.score .b2 {
  color:hsl(0, 0%, 65%);
  margin-top: -15px;
  font-size: 18px;
}
.notification .b2 {
  color:hsl(0, 0%, 65%);
  margin-top: -10px;
  font-size: 18px;
  
}
.notification {
  display: flex;
  flex-direction: column;
}
/* estilos a los contenidos del div class:summary */

.container_flex_summary {
   box-shadow: 5px 5px 40px rgb(198, 198, 211) ;
   padding: 30px;
   position: relative;
   top: -40px;   
   z-index: 0;
}
.container_flex_summary li,span,p,button {
  font-size: 18px;
  margin-top: 20px;
}
.container_flex_summary li {
  padding: 10px;
  border-radius: 10px;
  
}

.li_Reaction {
  background: hsl(0, 100%, 96%);
}
.Reaction {
  color: hsl(0, 100%, 67%);
  margin-right: 120px;
}
.li_Memory {
  background: hsl(39, 100%, 96%);
}
.Memory {
  color: hsl(39, 100%, 56%);
  margin-right: 120px;
}
.li_Verbal {
  background: hsl(166, 100%, 96%);
}
.Verbal {
  color: hsl(166, 100%, 37%);
  margin-right: 135px;
}
.li_Visual {
  background-color: hsl(234, 85%, 96%); 
}
.Visual {
  color: hsl(234, 85%, 45%);
  margin-right: 138px;
}
.container_flex_summary b {
   color: hsl(224, 30%, 70%);
}
button {
  width: 100%;
  background: hsl(224, 30%, 27%);;
  border-radius: 50px;
  padding: 20px;
  border: none;
  color: hsl(0, 0%, 85%);
}
@media only screen and (min-width:860px) {
  .container_inlineBlock {
    margin: 0;
    margin-top: calc((100vh - 440px)/2);
    display: flex;
    justify-content: space-around;
    
  }

  .container_flex div {
    height: 440px;
  }
  .container_flex_result ul {
    height: 440px;
    justify-content: space-between;
    border-radius: 7%;
  }
  .container_flex_summary {
    top: 0;
    left: -30px;
    width: calc(375px + 50px) !important;
    padding-left: 50px;
    border-radius: 5%;
  }

}